*.o
*.lo
*.la
.deps/
.dirstamp
/crack
/depcomp
/install-sh
/libtool
/ltmain.sh
/compile
*.a
.libs
/Makefile
/Makefile.in
/Makefile.am
/aclocal.m4
/autom4te.cache/*
/config.log
/config.status
/config.guess
/config.sub
/config.h
/config.h.in
/conf*.sh
/configure
/missing
/build/
/doc/**/*.html
/test/testext.so
/test/testext.la
/test/.libs/
/ext/crack_config.h
/stamp-h*
/lib/crack/ext/*.so
/lib/crack/compiler.so
/lib/crack/runtime.so
/lib/testext.so
/screen/output/
/unittests
/m4/lib*
/m4/lt*
/tools/test_make
/test/screen.bin
